.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
build_old/
build_old_20260314144107/
android/app/key.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
macos/Flutter/GeneratedPluginRegistrant.swift
pubspec.lock
*.log
*.pyc
*.dex
.git/
.idea/
.vscode/
.DS_Store
